<!-- edit.html.erb - Project 6
    Created 7/23/24 by Nicholas Colacarro
    Edited 07/23/24 by Jamaal Wairegi: Added incorrect choice info
    Edited 07/25/24 by Jamaal Wairegi: Created checks for the amount of choices created (can create up to ten correct and ten incorrect) -->
<% yield notice %>
<% if notice != nil %>
  <ul>
    <li> <%= notice %> </li>
  <ul>
<% end %>

<h1>Edit Question</h1>

<%= form_with(model: [@quiz, @question], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :content, "Question" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>
  <%= form.submit "Update Question", class: "btn btn-primary" %>
<% end %>

<h2>Correct Choices</h2>
<% if (@correct_choices != nil) and (@correct_choices.length >= 1) %>
  <ul>
    <% @correct_choices.each do |choice| %>
      <li>
      <%= choice.option %>
      <%= form_with url: quiz_question_correct_choice_path(@quiz, @question, choice), method: :delete, local: true do |form| %>
        <%= form.submit "Remove", class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
    <% end %>
  </ul>
<% else %>
  <p> No correct choices created. <p>
<% end %>

<h2>Incorrect Choices</h2>
<% if (@correct_choices != nil) and (@incorrect_choices.length >= 1) %>
  <ul>
    <% @incorrect_choices.each do |choice| %>
      <li>
      <%= choice.option %>
      <%= form_with url: quiz_question_incorrect_choice_path(@quiz, @question, choice), method: :delete, local: true do |form| %>
        <%= form.submit "Remove", class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
    <% end %>
  </ul>
<% else %>
  <p> No incorrect choices created. <p>
<% end %>

<%= link_to('Add Correct Choice', new_quiz_question_correct_choice_path(@quiz, @question), class: 'btn btn-secondary') if (@correct_choices != nil) and (@correct_choices.length < 10) %>
<%= link_to('Add Incorrect Choice', new_quiz_question_incorrect_choice_path(@quiz, @question), class: 'btn btn-secondary') if (@incorrect_choices != nil) and (@incorrect_choices.length < 10) %>
<%= button_to "Delete Question", quiz_question_path(@quiz, @question), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
<%= link_to 'Back to Quiz', quiz_path(@quiz), class: 'btn btn-secondary' %>
