<!-- Created 07/19/24 by Sirojiddin Aripov -->
<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div style="color:red">
      <h4><%= pluralize(quiz.errors.count, "error") %> prevented the creation of this quiz.</h4>
      <% quiz.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= form.label :quiz_name, style: "padding-end: 0.1vw", :class => "form-label" %>
    <%= form.text_field :quiz_name, :class => "form-control"  %>
    <% if action == "Create" and user_signed_in? %>
      <%= form.hidden_field :user_id, :value => current_user.id %>
    <% end %>
  </div>
  <div>
    <%= form.submit "#{action} Quiz", :class => "btn btn-info text-white"%>
  </div>
<% end %>