<!-- show.html.erb - Project 6
      Created 07/19/24 by Sirojiddin Aripov
     Edited 07/20/24 by Hengkai Zheng 
     Edited 07/22/24 by Nicholas Colacarro: Added button to study quiz
     Edited 07/23/24 by Nicholas Colacarro: Added button edit each question and changed to numbered list -->

<% owns_quiz = (user_signed_in?) && (@quiz.user_id == current_user.id) %>

<h1><%= @quiz.quiz_name %></h1>
<h3>Author: <%= link_to "#{@author.username}", "#{users_path}/#{@author.id}" %></h3>

<% if owns_quiz %>
<h2>Questions</h2>
<ol>
  <% @quiz.questions.each do |question| %>
    <li><%= question.content %>
    <%= link_to 'Edit', edit_quiz_question_path(@quiz, question), class: 'btn btn-secondary' %>
    </li>
  <% end %>
</ol>
<% end %>

<%= link_to('Add Question', new_quiz_question_path(@quiz), class: 'btn btn-primary') if owns_quiz %>
<%= link_to("Edit this Quiz", edit_quiz_path(@quiz), class: "d-inline btn btn-info text-white") if owns_quiz %>
<%= button_to("Delete this Quiz", @quiz, method: :delete,class: "btn btn-danger") if owns_quiz %>
<% if @first_question %>
  <%= link_to 'Study', study_quiz_path(@first_question.quiz_id), class: 'btn btn-primary' %>
<% else %>
  <p>No questions available to study.</p>
<% end %>