<h1>Search Quizzes</h1>
<%= form_with url: search_quiz_search_path, method: :get, local: true do %>
  <div class="form-group">
    <%= label_tag :query, "Search for Quizzes" %>
    <%= text_field_tag :query, params[:query], class: "form-control" %>
  </div>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% if @quizzes.any? %>
  <h2>Results:</h2>
  <ul>
    <% @quizzes.each do |quiz| %>
      <li><%= link_to quiz.quiz_name, quiz_path(quiz) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No quizzes found</p>
<% end %>
