<!--
  Created on 07/22/24 by Samuel Colston
  @description: Custom view replaces Devise default registration edit view. Views forms to update users table.
  @updates: @user - replaces @user.username.
  @params: :quiz_id - Quizzes table's primary key.
  @returns n/a. -->
<h2>Edit User</h2>
<%# Provides a form to enter a new username for the current user. %>
<%= form_with(model: @user, url: user_edit_path(@user), local: true, method: :put) do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: false, autocomplete: "username" %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<% if flash[:error].present? %>
  <div class="error-message">
    <%= flash[:error] %>
  </div>
<% end %>

<%= button_to 'Delete', user_edit_path(@user), method: :delete %>
<%= link_to "Back", :back %>
