<%= form_with(model: @room, remote: true, class: "d-flex") do |form| %>
  <% if room.errors.any? %>
    <div style="color:red">
      <h4><%= pluralize(room.errors.count, "error") %> prevented the creation of this room.</h4>
      <% room.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
  <br>
  <div>
    <%= form.text_field :name, style: "padding-end: 0.1vw", :class => "form-label", autocomplete: 'off' %>
    <%= form.submit data: { disable_with: false },:class => "btn btn-info text-white"  %>
  </div>
<% end %>