<!-- show.html.erb - Project 6
    Created 7/22/24 by Nicholas Colacarro
    Edited 7/23/24 by Nicholas Colacarro: Added all choices shuffled with button to submit. -->

<h1>Question <%= @question_index %> of <%= @total_questions %></h1>
<p><%= @question.content %></p>

<!-- Shuffles all possible choices and lists them. -->
<% choices = @question.incorrect_choices.map(&:option) + [@question.correct_choices.map(&:option)] %>
<% choices.shuffle.each do |choice| %>
  <div>
    <%= form_with url: submit_answer_path, method: :post do %>
      <%= hidden_field_tag :question_id, @question.id %>
      <%= hidden_field_tag :selected_choice, choice %>
      <%= submit_tag choice, class: 'btn btn-secondary' %>
    <% end %>
  </div>
<% end %>
<br>
<!-- Buttons for previous and next questions. -->
<div>
    <% if Question.where("id < ?", @question.id).last %>
        <%= link_to 'Previous', previous_question_path(@question, quiz_id: @question.quiz_id), class: 'btn btn-primary' %>
    <% end %>
    <% if Question.where("id > ?", @question.id).first %>
        <%= link_to 'Next', next_question_path(@question, quiz_id: @question.quiz_id), class: 'btn btn-primary' %>
    <% end %>
</div>
<div>
  <%= render partial: 'scores/show', locals: { score: @score } %>
</div>