<!-- question.html.erb - Project 6
    Created 7/22/24 by Nicholas Colacarro
    Edited 7/23/24 by Nicholas Colacarro: Added all choices shuffled with button to submit. 
    Edited 7/26/24 by Nicholas Colacarro: Added jQuery code to make buttons the correct colors. 
    Edited 7/27/24 by Nicholas Colacarro: Made choices be listed out with letters. 
    Edited 7/27/24 by Hengkai Zheng: Added radio buttons for choices, confirmation button, and feedback logic. 
    Edited 7/27/24 by Hengkai Zheng: Added timer.-->

<div class="study-container">
 <!-- Timer -->
  <div id="timer" class="text-center mb-3">
    <h2>Time Remaining is <span id="time">1:00</span></h2>
  </div>
  <div class="question-box">
<h1>Question <%= @question_index %> of <%= @total_questions %></h1>
<p><%= @question.content %></p>
  </div>

<!-- Use the stored order of choices from the session -->
  <div class="answer-box">
<%= form_with url: submit_answer_path, method: :post, local: true do %>
  <div class="choices">
    <% @choices.each do |choice| %>
      <div>
        <%= check_box_tag 'selected_choices[]', choice, false, id: choice %>
        <%= label_tag choice %>
      </div>
    <% end %>
  </div>
  <%= hidden_field_tag :question_id, @question.id %>
  <%= hidden_field_tag :quiz_id, @question.quiz_id %>
  <%= submit_tag 'Confirm', class: 'btn btn-primary' %>
<% end %>
</div>
<% if flash[:correct] %>
  <p class="alert alert-success"><%= flash[:correct] %></p>
<% elsif flash[:incorrect] %>
  <p class="alert alert-danger"><%= flash[:incorrect] %></p>
<% end %>

<!-- Buttons for previous and next questions. -->
<!-- Edited 07/26/24 by Jamaal Wairegi: Added Exit Quiz button -->
<div>
  <% if @question_index == 1 %>
    <%= link_to 'Exit Quiz', quiz_path(@question.quiz_id), class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'Exit Quiz', quiz_path(@question.quiz_id), class: 'btn btn-primary' %>
    <%= link_to 'Previous', previous_question_path(@question, quiz_id: @question.quiz_id), class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Next', next_question_path(@question, quiz_id: @question.quiz_id), class: 'btn btn-primary' %>
</div>
</div>

<!-- jQuery code to change button colors. -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    // Timer duration in seconds 
    var timeRemaining = 60;

    // Update the timer every second
    var timerInterval = setInterval(function() {
       
      var minutes = Math.floor(timeRemaining / 60);
      var seconds = timeRemaining % 60;
      var timeString = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;

      // Display the timer
      $("#time").text(timeString);
      timeRemaining--;

      // Check if time is up
      if (timeRemaining < 0) {
        clearInterval(timerInterval);
       $('input[type="submit"]').prop('disabled', true);
       
         }
    }, 1000);
  });
</script>



