<!-- Edited 07/20/24 by Jamaal Wairegi: Changed link of "Profile" nav button -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Quiz Gem</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <% if !user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log in', new_user_session_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <form action="<%= destroy_user_session_path %>" method="post" class="d-inline">
              <input type="hidden" name="_method" value="delete">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <button type="submit" class="btn btn-link nav-link">Log Out</button>
            </form>
          </li>
          <li class="nav-item">
            <%= link_to "Profile", "#{users_url}/#{current_user.id}", class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Join Game", "/join_game", class: "nav-link" %>
        </li>
      </ul>
      <form class="d-flex" role="search" action = "users/search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <% if user_signed_in? %>
        <div class="d-flex">Currently Logged in as: <%= current_user.email %></div>
      <% end %>
    </div>
  </div>
</nav>